.DS_Store
.*.swp
.hyde_deps
*.pyc
urlList
test
temp_files/
raw_files/
html_files/
html_dirty_files/
extracted_files/
converted_files/
clean_files/
md_files/
image_files/
whole_site/
completed_files/
*.gz
env/
